<h3>Registration form</h3>
<form method="POST" action="/register">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">First Name</label>
      <input type="text" name="firstName" class="form-control" id="inputEmail4" placeholder="First Name" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Last Name</label>
      <input type="text" name="lastName" class="form-control" id="inputPassword4" placeholder="Last Name">
    </div>
  </div>


  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Phone</label>
      <input type="number" name="phone" class="form-control" id="inputCity">
    </div>

  </div>
  <!-- Dob -->

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Date of Birth</label>
      <div class="input-group date">
        <input type="text" class="form-control" name="dob" value="12-02-2012">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-th"></span>
        </div>
      </div>
    </div>

  </div>

  <div class="form-group col-md-4">
    <label for="inputState">Gender</label>
    <select id="inputState" class="form-control" name="gender">
      <option selected>Choose...</option>
      <option value="1">Male</option>
      <option value="2">Female</option>
      <option value="3">Other</option>
    </select>
  </div>

  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
  $('#sandbox-container input').datepicker({
  });
</script>
